@import "../design/styles/index";

.button  {
  padding: 10px 18px;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.1rem;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  &__outlined {
    background-color: transparent;
    color: $primary-color;
    border: 2px solid $secondary-color;
    outline: none;
    transition: all .3s ease-in-out;
    &:hover {
      border-color: $primary-color;
    }
  }

  &__contained {
    background-color: #6F38C5;
    color: white;

    &:hover {
       opacity: .7;
    }
  }

}